---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -pro-bounds-constant-array-index,
  -misc-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-constant-array-index
WarningsAsErrors: ''
HeaderFilterRegex: '^src/.*'
FormatStyle: >-
  { BasedOnStyle: LLVM,
    BreakBeforeBraces: Allman,
    BreakBeforeBinaryOperators: NonAssignment }
