---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '^src/.*'
FormatStyle: >-
  { BasedOnStyle: LLVM,
    BreakBeforeBraces: Allman,
    BreakBeforeBinaryOperators: NonAssignment }
